.ant-card-body{
    padding: 15px;
}
.main-content{
    margin: 0;
    padding:0;
}
.left-map{
    width: 100%;
    float: left;
    margin-right: 350px;
    text-align: center;
    border: 1px solid rebeccapurple;
}
.right-info{
    position: fixed;
    right: 0;
    width: 320px;
    text-align: center;
}