.ant-card-body{
    padding: 0;
    padding-top: 15px;
    // padding-bottom: 15px;
}
.ant-btn-circle, .ant-btn-circle-outline{
    width: 20px;
    height: 20px;
}
.ant-tree{
    text-align: left;
    margin-left: 8px;
}
.left-date .ant-input{
    height: 38px;
    width: 240px;
}
.ant-tree li .ant-tree-node-content-wrapper{
    width: 70%;
    overflow: hidden;
    text-overflow:ellipsis
}
.ant-card-body{
    overflow-y: auto;
}





.main-content{  
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
    margin: 0;
    padding:0;
}
.left-info{
    width: calc(100vw - 320px);
    // width: 100%;
    height: calc(100vh - 64px);
    // float: left;
    // margin-right: 350px;
    text-align: center;
    // border: 1px solid rebeccapurple;
}
.left-info .ant-collapse-content > .ant-collapse-content-box{
    padding: 9px 16px;
}
#map {
    width: 100%;
    height: 100%;
}
.left-date{
    position: fixed;
    z-index: 999;
    top: 100px;
    left: 10px;
    // border: 1px solid goldenrod;
}
.left-weather{
    position: fixed;
    z-index: 999;
    top: 150px;
    left: 10px;
}
.left-patrol{
    position: fixed;
    z-index: 999;
    top: 200px;
    left: 10px;
    min-width: 240px;
    width: 240px;
    cursor: pointer;
    &:hover{
        .patrol-plan{
            display: block;
        } 
    }
}
.left-patrol-title{
    background-color: #1890ff;
    color: #FFFFFF;
    width: 100%;
    height:38px;
    line-height: 38px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom:4px; 
}
.patrol-plan{
    // min-width: 240px;
    width:100%;
    background-color: #FFFFFF;
    display: none;
}
.riverSearchModal{
    position: fixed;
    z-index: 999;
    top: 64px;
    right: 320px;
}

.right-info{
    position: fixed;
    right: 0;
    top: 64px;
    width: 320px;
    height: calc(100vh - 64px);
    // display: block;
    background-color: #FFFFFF;
}
.right-body{
    width: 100%;
    height: 100%;
}
.right-body .ant-card{
    width: 100%;
    height: calc(100vh - 38px);
    margin: 0;
    padding: 0;
}
.right-body .ant-card-head{
    position: absolute;
    top: 0;
    z-index:5;
    width: 100%;
    // height: 55px;
}
.right-body .ant-card-body{
    width: 100%;
    // height: calc(100vh - 38px);
    overflow: auto;
    position: absolute;
    top:48px;
    z-index: 10;
    bottom: 38px;
    margin-bottom: 25px;
    padding-top: 0;
}
.right-body .ant-tabs .ant-tabs-large-bar .ant-tabs-tab{
    width: 50%;
}
.riverInfo{
    width: 100%;
    text-align: center;
}
.river_info{
    width: 100%;
    border: 1px solid #e8e8e8;
    text-align: left;
    padding: 8px 0;
    padding-left: 15px;
    display: inline-block;
}
.addTask_btn{
    margin-bottom: 15px;
}
.addPlan_foot{
    // border-top: 1px solid #e8e8e8;
    // padding: 10px 0;
    text-align: center;
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    // right: -449px;
    width: 100%;
    height: 38px;
    line-height: 38px;
    z-index: 200;
}
.addPlan_foot span{
    width:160px;
    border: 1px solid #e8e8e8;
    height: 100%;
    line-height: 38px;
    // padding:0 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
.addPlan_foot span:hover{
    box-shadow: 0 0 5px#E3E3E3;
}
.right-body .ant-progress-outer{
    width: 80%;
}
.right-body .ant-collapse-content > .ant-collapse-content-box{
    padding: 0;
}
.planProgress{
    padding: 16px;
}
.planGroup .ant-collapse{
    border-radius: 0;
}
.planGroup .ant-collapse:hover{
    box-shadow: 0 0 10px #D3D3D3;
}
.planGroup .ant-collapse > .ant-collapse-item{
    // border-bottom: none;
}
.planGroup .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    padding-left: 55px;
    color:#1890ff;
}
.planGroup  .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow{
    left: 30px;
}
.groupBtn{
    margin-top: 10px;
    margin-left: 20px;
}
.ant-progress-inner{
    margin-top: -4px;
}
.right-body .ant-collapse{
    border-radius: 0;
    border: none;
}
.right-body .ant-collapse > .ant-collapse-item{
    border-bottom: #FFFFFF;
}
.right-body .ant-collapse-content{
    border-top: none;
}
.collapse_header{
    font-size:16px;
    background-color:#EBF5FF;
    position: relative;
}
.collapse_group{
    color:#808080;
    font-size:15px;
    background-color: #FFFFFF;
    position: relative;
}
.collapse_header .ant-progress-line{
    width: 60%;
    font-size: 14px;
    position: absolute;
    top: 15px;
    left: 155px;
}
.collapse_group .ant-progress-line{
    width: 60%;
    font-size: 14px;
    position: absolute;
    top: 15px;
    left: 155px;
}
.river_group .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    padding-left: 74px;
    color: rgba(0, 0, 0, 0.85);
}
.river_group .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow{
    left: 50px;
}
.riverGroup_info{
    padding:10px 15px;
    width:100%;
    background-color: #1890ff;
    color: #FFFFFF;
}
.riverGroup_success{
    padding:10px 15px;
    width:100%;
    background-color: #7ED321;
    color:#FFFFFF ;
}
.riverGroup_warning{
    padding:10px 15px;
    width:100%;
    background-color: #F5A623;
    color:#FFFFFF ;
}